@model IEnumerable<WebApp1.Models.ContactModel.Contacts>
@{
    ViewData["Title"] = "Contacts";
}
<div class="table-intro">
    <h2>Contacts</h2>
    <p>These are the contacts in your library.</p>
</div>
<a asp-area="" asp-controller="Home" asp-action="Add" class="btn btn-primary" id="btnAdd"><span class="glyphicon glyphicon-plus-sign"></span> Add Contact</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Cellphone Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApp1.Models.ContactModel.Contacts contacts in Model)
        {
            <tr>
                <td>@contacts.FirstName</td>
                <td>@contacts.LastName</td>
                <td>@contacts.CellNum</td>
                <td>@contacts.Email</td>
            </tr>
        }
    </tbody>
</table>